*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.main-div{
    background-color: black;
    opacity: 85%;
    border: 20px solid white;
    border-radius: 26px;
    overflow-wrap: break-word;
    padding: 10px;
    margin-top: 200px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#item{
    background-color: red;
    padding: 20px;
    margin: 20px;
    color: white;
    width: 205px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    border: 7px solid white;
}

#item-inner{
    margin: 20px;
}

.headings{
    background: red;
    color: #FFAFBD;
}

.paragraphs{
    background: red;
    color: #ffc3a0;
}

/* CSS */
button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A) !important;
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

a{
    text-decoration: none;   
    padding: 5px;
    border-radius: 12px;
}

.adder-div{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    border-top: 50px solid white;
    border-left: 50px solid white;
    border-right: 50px solid white;
}

.item-adder{
    background-color: red;
    padding: 10px;
    margin: 10px;
    display: flex;
    border: 2.5px solid white;
    border-radius: 5px;
}

.button-container{
    display: flex;
    flex-direction: column;
}

#item-adder-button{
    display: flex;
    margin: 20px;
    width: 120px;
}

.bored-div{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    width: 595px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#bored-items{
    background-color: red;
    padding: 20px;
    margin: 20px;
    width: 450px;
    border-radius: 20px;
}

.namify-div{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    border: 10px solid red;
    border-radius: 20px;
}

.form-container{
    display: flex;
    flex-direction: column;
}

#form-item{
    margin: 20px;
}

input{
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

input::placeholder{
    color: gray;
}

.namify-button{
    margin-top: 20px;
}

.namify-p{
    margin-left: 30px;
}

.meme-card{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
}

.meme-card-item{
    margin: 15px;
}

#image-container{
    height: 600px;
    width: 600px;
    object-fit: contain;
}

#image-p{
    display: flex;
    align-items: center;
    justify-content: center;
}

#name-container{
    display: flex;
    align-items: center;
    justify-content: center;
}